body {
    max-width: 1000px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header>h1 {
    color: #6495ed;
}

.line {
    background-color: grey;
    width: 1000px;
    height: 2px;
}

.objective>h5 {
    color: grey;
}

.study {
    color: #6495ed;
}